  body {
    text-align: left;
  }

  div,
  p,
  .title,
  button,
  input,
  select,
  textarea,
  a {
    /*font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  */
    color: #4A4E69;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    flex-direction: row;
  }

  .a {
    /*color: grey;*/
  }

  .App {
    overflow: hidden;
    /*color: rgb(134, 142, 150);*/
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    color: #222;
    font-family: 'Open Sans';
    font-weight: 100;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-align: left;
    overflow-x: hidden;
  }

  .App-header {
    background-color: #222;
    height: 150px;
    color: white;
  }

  .App-intro {
    font-size: large;
  }

  .backgroundHeader {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    color: #4A4E69 !important;
    text-align: center;
    align-content: center;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F2F2F2, #DBDBDB, #F2F2F2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F2F2F2, #DBDBDB, #F2F2F2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .intro {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: -webkit-linear-gradient(to left, #F2F2F2, #DBDBDB, #F2F2F2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F2F2F2, #DBDBDB, #F2F2F2);
  }

  h1 {
    color: #4A4E69;
    font-weight: 300;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    color: #23527c;
    font-weight: 300;
  }

  h3 {
    /*font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif;*/
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 8px;
    display: inline;
  }

  h4 {
    color: #23527c;
    font-weight: 300;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h5 {
    color: #4A4E69;
    font-weight: 300;
  }

  .contactBody {
    text-align: left;
  }

  .contactIconDiv {
    width: 40px;
    height: 30px;
  }

  ul {
    margin: 0;
  }

  a {
    color: rgb(29, 29, 29);
    /*font-style: oblique;*/
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
    {
    margin: 0;
    /*
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  color: black;
  padding-bottom: 0px;
  */
  }

  .bg {
    background: #F7971E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFD200, #F7971E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFD200, #F7971E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 2000px;
  }

  .avatar-style {
    height: 100px;
    width: 100px;
  }